/* Icons from Fugue, by Yusuke Kamiyamane ( http://p.yusukekamiyamane.com/ ) */
html {
  min-height: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
  background: #000020;
  background: -webkit-linear-gradient(transparent, #000020),
              -webkit-repeating-linear-gradient(-43deg, rgba(255,255,255,.03), rgba(255,255,255,.03) 10px, rgba(255,255,255,.05) 10px, rgba(255,255,255,.05) 20px)
              #000020;
  background: -moz-linear-gradient(transparent, #000020),
              -moz-repeating-linear-gradient(-43deg, rgba(255,255,255,.03), rgba(255,255,255,.03) 10px, rgba(255,255,255,.05) 10px, rgba(255,255,255,.05) 20px)
              #000020;
  background: -o-linear-gradient(transparent, #000020),
              -o-repeating-linear-gradient(-43deg, rgba(255,255,255,.03), rgba(255,255,255,.03) 10px, rgba(255,255,255,.05) 10px, rgba(255,255,255,.05) 20px)
              #000020;
  background: linear-gradient(transparent, #000020),
              repeating-linear-gradient(-43deg, rgba(255,255,255,.03), rgba(255,255,255,.03) 10px, rgba(255,255,255,.05) 10px, rgba(255,255,255,.05) 20px)
              #000020;
}

body {
  display: block;
  position: relative;
  width: 500px;
  margin: 42px auto 10px;
  box-shadow: 0 0 5px black;
}

header {
  position: relative;
  display: block;
  height: 150px;
  background: url(../images/header.png);
  border-radius: 2px 2px 0 0;
}

header h1 {
  position: absolute;
  left: .25em;
  bottom: 0;
  margin: 0;
  font: 3em 'Titan One', sans-serif;
  text-transform: uppercase;
  color: white;
  color: rgba(255,255,255,.3);
}

nav {
  position: absolute;
  right: .25em;
  bottom: -1.25em;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  color: #777;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}

div {
  overflow: hidden;
  padding: 1em;
  background: #fafafa;
  border-radius: 0 0 2px 2px;
}

#login, #noscript, #nothing {
  margin: .87em 0;
  text-align: center;
}

#login a {
  color: #333;
}

/* Borrowed from Ripe Fruit */
#openid-error {
  position: fixed;
  left: 50%;
  width: 8em;
  overflow: visible;
  padding: 0.5em;
  margin-top: -5px;
  margin-left: -4.5em;
  background: #fafafa;
  background-clip: padding-box;
  border: 3px solid #d74f4f;
  border-radius: 2px;
  box-shadow: 0 3px 3px #333;
}

#openid-error:before, #openid-error:after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 50%;
  width: 0;
  margin-left: -12px;
  border-color: #d74f4f transparent;
  border-style: solid;
  border-width: 0 12px 12px;
}

#openid-error:after {
  top: -7px;
  margin-left: -7px;
  border-color: #fafafa transparent;
  border-width: 0 7px 7px;
}
/* */

h4 {
    margin: .5em 0;
    color: green;
}

section {
  display: block;
}

form section {
  float: left;
  width: 47%;
  margin-left: 1%;
}

#order, #shipping {
  margin-left: 4%;
}

#donation h2, #order h2 {
  margin-top: .5em;
}

#billing {
  clear: left;
}

form ul {
  margin: 0;
  padding: 0;
}

form li {
  list-style-type: none;
  margin-bottom: .25em;
}

#error {
  display: list-item;
  list-style-position: inside;
  margin-bottom: 0;
  font-weight: bold;
}

#error:empty {
  display: none;
}

#error, .error {
  color: #d74f4f;
  font-weight: bold;
}

#amount, #amount + li, #card-number, #card-number + li, #expiration input, .zip, .state
{
  float: left;
}

#amount {
  width: 25%;
}

#amount + li {
  width: 70%;
  margin-top: 1.25em;
  margin-left: 2.5%;
}

#amount + li select {
  width: 100%;
}

#card-number, .state, .zip, input[data-name$="city"], input[data-name$="country"], input[name$="city"], input[name$="country"] {
  width: 66%;
}

.zip {
  width: 29%;
  margin-left: 5%;
  white-space: nowrap;
}

#card-number, .zip + li {
  clear: left;
}

form span, form span a {
  color: gray;
}

form span {
  display: inline-block;
  margin-bottom: .25em;
  font-size: smaller;
}

input, select {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
  vertical-align: bottom;
  margin-top: .75em;
  margin-left: 0;
}

#donation li:first-child {
  margin-bottom: .5em;
}

#donation li:first-child input {
  margin-top: 0;
}

#card-number + li {
  width: 29%;
  margin-left: 5%
}

input[name="order.quantity"] {
  width: 3.1em;
}

#expiration label {
  display: block;
}

#expiration input {
  margin-right: 5%;
}

input[data-name="card.expiremonth"] {
  width: 2.55em;
}

input[data-name="card.expireyear"] {
  width: 3.45em;
}

#email {
  margin-top: 2.95em;
}

#email span {
  margin-top: .25em;
}

#submit {
  margin-bottom: 0;
}

#submit button {
  margin-top: .25em;
}

div > section {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

div > section:last-child {
  border: none;
}

div > section ul {
  float: left;
  width: 44%;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

div > section ul:nth-of-type(2) {
  width: 47%;
  padding-left: 1em;
}

div > section ul li {
  padding-left: 22px;
  white-space: nowrap;
  background-position: left 1px;
  background-repeat: no-repeat;
}

div > section a {
  position: absolute;
  top: 1.6em;
  right: 0;
}

.submitted li:first-child {
  background-image: url(../images/tag-medium.png);
}

.submitted.multiple li:first-child {
  background-image: url(../images/tags.png);
}

.submitted li:nth-child(2) {
  background-image: url(../images/inbox-document-text.png);
}

.charged li:nth-child(3) {
  background-image: url(../images/credit-card.png);
}

.shipped li:nth-child(4), .nodonation li:nth-child(3) {
  background-image: url(../images/postage-stamp.png);
}

footer {
  position: absolute;
  right: 5px;
  bottom: 0;
}

footer a {
  display: inline-block;
  width: 101px;
  height: 16px;
  overflow: hidden;
  text-indent: 101px;
  white-space: nowrap;
  background: url(../images/outline.png);
}

@media (max-width: 532px) {
  body {
    width: 100%;
    margin: 0;
  }
  header, div {
    border-radius: 0;
  }
}
