#{extends 'main.html' /}
#{set title:'Error' /}
#{set nav:@Application.store() /}
#{set navname:'Store' /}
#{if play.mode.name() == 'DEV'}
            #{500 exception /}
#{/if}
#{else}
            <p>Something doesn't look right here.</h1>
#{if exception instanceof play.exceptions.PlayException}
            <p>This has been logged: <strong>${exception.id}</strong></p>
#{/if}
#{/else}
