#{extends 'main.html' /}
#{set title:'Orders' /}
#{set nav:@Application.store() /}
#{set navname:'Store' /}
#{if flash.contains('success')}
            <h4>${flash.success}</h4>
#{/}
#{if flash.contains('error')}
            <h4 class="error">${flash.error}</h4>
#{/}
#{list orders, as:'order'}
            <section>
                <h2>Order #${order.id}#{if user.isAdmin} for ${order.user.name}#{/}</h2>
                <ul class="submitted#{if order.quantity > 1} multiple#{/}#{if order.charged} charged#{/}#{if order.nodonation} nodonation#{/}#{if order.shipped} shipped#{/}">
                    <li>${order.quantity} keyfob#{if order.quantity > 1}s#{/}#{if order.tungoil} with tung oil finish#{/}</li>
                    <li>Submitted on ${order.submitted.format('yyyy/MM/dd')}</li>
#{if order.charged}
                    <li>Charged $${order.amount} on ${order.charged.format('yyyy/MM/dd')}</li>
#{/}
#{if order.shipped}
                    <li>Shipped on ${order.shipped.format('yyyy/MM/dd')}</li>
#{/}
                </ul>
                <ul>
                    <li>${order.address.name}</li>
                    <li>${order.address.line1}</li>
                    <li>${order.address.line2}</li>
                    <li>${order.address.city}, ${order.address.state} ${order.address.zip}</li>
                    <li>${order.address.country}</li>
                </ul>
#{if user.isAdmin && !order.shipped}
                <a href="@{Application.ship(order.id)}">ship</a>
#{/}
#{if order.shipped && order.trackingUrl}
                <a href="${order.trackingUrl}">track</a>
#{/}
            </section>
#{/list}
#{else}
            <h2 id="nothing">No orders on file for ${user.name}.</h2>
#{/else}
