#{extends 'main.html' /}
#{set title:'Login' /}
            <h2 id="login"><a href="@{Security.authOpenID()}">Enter and sign in, please</a></h2>
#{if flash.contains("openid.error")}
            <div id="openid-error">
                ${flash.get("openid.error")}
            </div>
#{/}
