#{extends 'main.html' /}
#{set title:'Store' /}
#{set nav:@Application.orders(false) /}
#{set navname:'Orders' /}
#{set 'moreScripts'}
        <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
        <script src="@{'/public/javascripts/store.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/}
            <noscript>
                <h2 id="noscript">For maximum security, this store needs JS.</h2>
            </noscript>
#{if flash.contains('success')}
            <h4>${flash.success}</h4>
#{/}
            <form action="@{Application.order()}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" style="display: none">
                #{authenticityToken/}
                <p id="error">#{ifError 'stripe'}#{error 'stripe' /}#{/}#{else}#{ifErrors}There were errors handling your request. See below for details.#{/}#{/}</p>
                <section id="donation">
                    <h2>Donation</h2>
                    <ul>
                        <li>
                            <label>
                                <input name="order.nodonation" type="checkbox"#{if flash.contains('order.nodonation')} checked#{/}>do not wish to donate
                            </label>
                        </li>
                        <li id="amount">
                            <label>
                                Amount
                                <input name="order.amount" type="number" value="#{if flash.contains('order.amount')}${flash.get('order.amount')}#{/}#{else}1#{/}" min="1" max="99" maxlength="2">
                                <input name="order.currency" type="hidden" value="USD">
                            </label>
                        </li>
                        <li>
                            (USD)
                        </li>
                        <li>
                            <span>International card holders, check the current currency conversion rates.</span>
#{ifError 'order.amount'}
                            <span class="error">#{error 'order.amount' /}</span>
#{/}
                        </li>
                        <li id="card-number">
                            <label>
                                Card Number
                                <input data-name="card.number" type="text" autocomplete="off">
                            </label>
                        </li>
                        <li>
                            <label>
                                CVC
                                <input data-name="card.cvc" type="text" autocomplete="off">
                            </label>
                        </li>
                        <li>
                            <span>Card Verification Code: Typically the 3 digits found on the back of the card.</span>
#{ifError 'card.cvc'}
                            <span class="error">#{error 'card.cvc' /}</span>
#{/}
                        </li>
                        <li id="expiration">
                            <label>Expiration (MM/YYYY)</label>
                            <input data-name="card.expiremonth" type="text" maxlength="2">
                            <input data-name="card.expireyear" type="text" maxlength="4">
                        </li>
                    </ul>
                </section>
                <section id="order">
                    <h2>Order</h2>
                    <ul>
                        <li id="email">
                            <label>
                                Email Address
                                <input name="order.email" type="email" value="${flash.get('order.email')}">
                            </label>
                            <span>Optional. Used to send a receipt and shipping notice.</span>
#{ifError 'order.email'}
                            <span class="error">#{error 'order.email' /}</span>
#{/}
                        </li>
                        <li>
                            <label>
                                Quantity
                                <input name="order.quantity" type="number" value="#{if flash.contains('order.quantity')}${flash.get('order.quantity')}#{/}#{else}1#{/}" min="1" max="3" maxlength="1">
                            </label>
                            <span#{ifError 'order.quantity'} class="error"#{/}>Limit 3 per order and person max.</span>
#{ifError 'order.quantity1'}
                            <span class="error">#{error 'order.quantity1' /}</span>
#{/}
                        </li>
                        <li>
                            <label>
                                <input name="order.tungoil" type="checkbox"#{if flash.contains('order.tungoil')} checked#{/}>finish with tung oil
                            </label>
                        </li>
                    </ul>
                </section>
                <section id="billing">
                    <h2>Billing Address</h2>
                    <ul>
                        <li>
                            <label>
                                Card Holder
                                <input data-name="billing.name" type="text">
                            </label>
                        </li>
                        <li>
                            <label>
                                Street Address 1
                                <input data-name="billing.line1" type="text">
                            </label>
#{ifError 'billing.line1'}
                            <span class="error">#{error 'billing.line1' /}</span>
#{/}
                        </li>
                        <li>
                            <label>
                                Street Address 2
                                <input data-name="billing.line2" type="text">
                            </label>
                        </li>
                        <li>
                            <label>
                                City
                                <input data-name="billing.city" type="text">
                            </label>
                        </li>
                        <li class="state">
                            <label>
                                State / Province
                                <input data-name="billing.state" type="text">
                            </label>
                        </li>
                        <li class="zip">
                            <label>
                                Postal
                                <input data-name="billing.zip" type="text">
                            </label>
#{ifError 'billing.zip'}
                            <span class="error">#{error 'billing.zip' /}</span>
#{/}
                        </li>
                        <li>
                            <label>
                                Country
                                <input data-name="billing.country" type="text">
                            </label>
                        </li>
                        <li>
                            <label>
                                <input name="sameaddr" type="checkbox"#{if flash.contains('sameaddr')} checked#{/}>use as shipping address
                            </label>
                        </li>
                    </ul>
                </section>
                <section id="shipping">
                    <h2>Shipping Address</h2>
                    <ul>
                        <li>
                            <label>
                                Recipient
                                <input name="shipping.name" type="text" value="${flash.get('shipping.name')}">
                            </label>
                        </li>
                        <li>
                            <label>
                                Street Address 1
                                <input name="shipping.line1" type="text" value="${flash.get('shipping.line1')}">
                            </label>
#{ifError 'shipping.line1'}
                            <span class="error">#{error 'shipping.line1' /}</span>
#{/}
                        </li>
                        <li>
                            <label>
                                Street Address 2
                                <input name="shipping.line2" type="text" value="${flash.get('shipping.line2')}">
                            </label>
                        </li>
                        <li>
                            <label>
                                City
                                <input name="shipping.city" type="text" value="${flash.get('shipping.city')}">
                            </label>
#{ifError 'shipping.city'}
                            <span class="error">#{error 'shipping.city' /}</span>
#{/}
                        </li>
                        <li class="state">
                            <label>
                                State / Province
                                <input name="shipping.state" type="text" value="${flash.get('shipping.state')}">
                            </label>
#{ifError 'shipping.state'}
                            <span class="error">#{error 'shipping.state' /}</span>
#{/}
                        </li>
                        <li class="zip">
                            <label>
                                Postal
                                <input name="shipping.zip" type="text" value="${flash.get('shipping.zip')}">
                            </label>
#{ifError 'shipping.zip'}
                            <span class="error">#{error 'shipping.zip' /}</span>
#{/}
                        </li>
                        <li>
                            <label>
                                Country
                                <input name="shipping.country" type="text" value="${flash.get('shipping.country')}">
                            </label>
#{ifError 'shipping.country'}
                            <span class="error">#{error 'shipping.country' /}</span>
#{/}
                        </li>
                        <li id="submit">
                            <button>Submit Order</button>
                        </li>
                    </ul>
                </section>
            </form>
            <script>$('form').css('display', '')</script>
